*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    background-color: #000;
    color : white;
    height: 10vh;
    text-align: left;
    display: flex;
    justify-content: start;
    text-align: left;
    width: 100%;
}
nav h1 {
    margin: 20px;
    font-size: 2rem;
    width: 100%;
}
nav ul{
    padding: 20px;
    margin-right: 80px;
}
nav ul li {
    padding: 20px;
    margin: 10px;
    
}
nav ul li a{
    color:#fff;
    font-size: 1.5rem;
    text-decoration: none;
}
nav ul li a:hover{
    color:rgb(109, 206, 114);   
}

.container{
    width: 100%;
    display: block;
    background-color: rgb(161, 155, 155);
}
.container .header{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #404040; 
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.form-contanier{
    width: 100%;
    background-color: lightgrey;
    height : 70vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}
span{
    background-color: #868484;
    border-radius: 50%;
  

}
form{
    width: 70%;
}
input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2.5px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
   
  }
  input[type=submit], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2.5px solid #000000;
    border-radius: 4px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: #000000;
    color: #fff;
    font-family: 'Cinzel', serif;
  }
.check-cont{
    display: block;
    text-align: left;
}
  .checkbox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: gray;
    color: #fff;
    font-family: 'Cinzel', serif;
  }

  footer{
    width: 100%;
    height: 10vh;
    background-color: #000;
    position: sticky;
  }
ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
  ul li {
      margin-top:20px ;
      color: lightgrey;
  }

  .books{
    display : flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .book-container{
      width: 30%;
      margin : 20px;
      border-radius: 5%;
      box-shadow: 5px 10px 18px #000;
      text-align: center;
      justify-content: center;
      align-items: center;

  }
  img{
      margin: 20px; 
      width: 50%;
      height: 40vh
  }
  .book-container{
    background-color: #D8D8D8;
  }
  .book-container h1{
      color :rgb(99, 97, 97);
      font-size: 1.2rem;
      padding: 10px;
      font-weight: bold;
  }
  .book-container h2{
    color :rgb(99, 97, 97);
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
}

.book-container p{

    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}


@media (max-width: 786px){

    header nav{
        background-color: #000;
        color : white;
        height: 10vh;
        text-align: left;
        display: block;
        justify-content: start;
        text-align: left;
        width: 100%;
      
    }
    nav h1 {
        margin: 20px;
        font-size: 2rem;
        width: 100%;
    }
    nav ul{
        background-color: black;
        opacity: 0.6;
        display: block;
        padding: 20px;
        width: 100%;
        margin-right: 80px;
    }
    nav ul li {
        padding: 20px;
        margin: 10px;
        
    }
    nav ul li a{
        color:#fff;
        font-size: 1.5rem;
        text-decoration: none;
    }
    nav ul li a:hover{
        color:rgb(109, 206, 114);   
    }
    
    .container{
        width: 100%;
        display: block;
        background-color: rgb(161, 155, 155);
    }
    .container .header{
        width: 100%;
        height: 10vh;
        display: flex;
        background-color: #404040; 
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: white;
    }
    
    .form-contanier{
        width: 100%;
        background-color: lightgrey;
        height : 70vh;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    
    }
    
    form{
        width: 80%;
        height: inherit;
        margin-top: 20px;
   
    }
    input[type=text], select {
    
        width: 100%;
        height: 5vh;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2.5px solid #000000;
        border-radius: 4px;
        box-sizing: border-box;
       
      }
      input[type=submit], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 5vh;
        display: inline-block;
        border: 2.5px solid #000000;
        border-radius: 4px;
        font-weight: bold;
        box-sizing: border-box;
        background-color: #000000;
        color: #fff;
        font-family: 'Cinzel', serif;
      }
    .check-cont{
        display: block;
        text-align: left;
    }
      .checkbox{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        height: 5vh;
        border-radius: 4px;
        font-weight: bold;
        box-sizing: border-box;
        background-color: gray;
        color: #fff;
        font-family: 'Cinzel', serif;
      }
    
      footer{
        width: 100%;
        height: 10vh;
        background-color: #000;
        position: sticky;
      }
    ul{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
      ul li {
          margin-top:20px ;
          color: lightgrey;
      }
    
      .books{
        display : flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      .book-container{
          width: 100%;
          margin : 20px;
          border-radius: 5%;
          box-shadow: 5px 10px 18px #000;
          text-align: center;
          justify-content: center;
          align-items: center;
    
      }
      img{
          margin: 20px; 
          width: 50%;
          height: 40vh
      }
      .book-container{
        background-color: #D8D8D8;
      }
      .book-container h1{
          color :rgb(99, 97, 97);
          font-size: 1.2rem;
          padding: 10px;
          font-weight: bold;
      }
      .book-container h2{
        color :rgb(99, 97, 97);
        font-size: 1rem;
        padding: 10px;
        font-weight: bold;
    }
    
    .book-container p{
    
        font-size:1rem;
        padding: 10px;
        font-weight: bold;
    }
    
}

 
 /* error */

 main{
    width: 70%;
     min-height: 70vh;
     display : flex;
     align-items: center;
     justify-content: center;
     background-color: lightseagreen;
     margin-top: 100px;
     margin-left: 180px;
 }
 .items{
     display: block;
 }
 .items h1{
     font-size: 4rem;
 }
 .items h1{
    font-size: 4rem;
}
.items h1{
    font-size: 4rem;
}