<footer>
    <ul>
        <li> <i class="fas fa-circle"></i></li>
        <li> <i class="fas fa-circle"></i></li>
        <li> <i class="fas fa-circle"></i></li>
        <li> <i class="fas fa-circle"></i></li>
        <li> <i class="fas fa-circle"></i></li>
    </ul>
</footer>